{% block sidebar %}
        <!-- ========== App Menu ========== -->
        <div class="app-menu navbar-menu">
            <!-- LOGO -->
            <div class="navbar-brand-box">
                <!-- Dark Logo-->
                <a href="/" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="{{url_for('static' ,filename='images/logo-white.png')}}" alt="" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="{{url_for('static' ,filename='images/logo-white.png')}}" alt="" height="17">
                    </span>
                </a>
                <!-- Light Logo-->
                <a href="/" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="{{url_for('static' ,filename='images/logo-white.png')}}" alt="" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="{{url_for('static' ,filename='images/logo-white.png')}}" alt="" height="40">
                    </span>
                </a>
                <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
                    <i class="ri-record-circle-line"></i>
                </button>
            </div>

            <div id="scrollbar">
                <div class="container-fluid">
                    <div id="two-column-menu"></div>
                    <ul class="navbar-nav" id="navbar-nav">
                        <li class="menu-title"><span data-key="t-menu">Menu</span></li>
                        
                        {% macro render_menu(menu_item) %}
                        <li class="nav-item">
                            {% if menu_item.children %}
                                <a class="nav-link menu-link" href="#sidebar{{ menu_item.menu.id }}" data-bs-toggle="collapse" role="button" aria-expanded="false" data-menu-id="{{ menu_item.menu.id }}">
                                    {% if menu_item.menu.icon %}
                                        <i class="{{ menu_item.menu.icon }}"></i> 
                                    {% endif %}
                                    <span data-key="t-{{ menu_item.menu.name|lower|replace(' ', '-') }}">{{ menu_item.menu.name }}</span>
                                </a>
                                <div class="collapse menu-dropdown" id="sidebar{{ menu_item.menu.id }}">
                                    <ul class="nav nav-sm flex-column">
                                        {% for child in menu_item.children %}
                                            {% if current_user.role.has_menu_permission(child.menu.id) %}
                                                <li class="nav-item">
                                                    <a href="{{ url_for(child.menu.route) if child.menu.route else '#' }}" class="nav-link" data-parent-id="{{ menu_item.menu.id }}">
                                                        {% if child.menu.icon %}
                                                            <i class="{{ child.menu.icon }}"></i>
                                                        {% endif %}
                                                        {{ child.menu.name }}
                                                    </a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% else %}
                                <a href="{{ url_for(menu_item.menu.route) if menu_item.menu.route else '#' }}" class="nav-link">
                                    {% if menu_item.menu.icon %}
                                        <i class="{{ menu_item.menu.icon }}"></i> 
                                    {% endif %}
                                    {{ menu_item.menu.name }}
                                </a>
                            {% endif %}
                        </li>
                    {% endmacro %}

                        {% for menu_item in get_menu_tree() %}
                            {% if current_user.role.has_menu_permission(menu_item.menu.id) %}
                                {{ render_menu(menu_item) }}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="sidebar-background"></div>
        </div>
        <!-- Left Sidebar End -->
        <!-- Vertical Overlay-->
        <div class="vertical-overlay"></div>
{% endblock sidebar %}