<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Customer Account Created</title>
  </head>
  <body>
    <p>Dear {{ name }},</p>
    <p>Your customer account has been created successfully.</p>
    <p>You can log in through the following portal:</p>
    <p><a href="https://navitrax.sonaapps.com/auth/login">https://navitrax.sonaapps.com/auth/login</a></p>
    <br />
    <p>Thank you,<br />The Navitrax Team</p>
    <hr />
    <p style="font-size: 12px;">&copy; {{ current_year }} Navitrax</p>
  </body>
</html>
