<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>New Entry Assignment</title>
  </head>
  <body>
    <p>Dear {{ name }},</p>
    <p>A new entry {{ entry_docserial }} of customer {{ customer }} has been assigned to you. Please follow up</p>
    <p>You can log in through the following portal:</p>
    <p><a href="https://navitrax.sonaapps.com/auth/login">https://navitrax.sonaapps.com/auth/login</a></p>
    <br />
    <p>Thank you,<br />The Navitrax Team</p>
    <hr />
    <p style="font-size: 12px;">&copy; {{ current_year }} Navitrax</p>
  </body>
</html>
