{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Sea Export Operations</h3>
                </div>
                <div class="card-body">
                    <div class="alert alert-info">
                        <h5><i class="icon fas fa-info"></i> Coming Soon!</h5>
                        This feature is currently under development. Please check back later.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}